* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

body {
  background: #f4f6fb;
}

/* NAVBAR */
.navbar {
  background: #1f2933;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-actions button {
  margin-left: 10px;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.nav-actions button:nth-child(1) {
  background: #4f46e5;
  color: white;
}

.nav-actions button:nth-child(2) {
  background: #10b981;
  color: white;
}

.nav-actions button:nth-child(3) {
  background: #ef4444;
  color: white;
}

/* AUTH (LOGIN & REGISTER) */
.auth-container {
  max-width: 350px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.auth-container input {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.auth-container button {
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.auth-container p {
  color: #4f46e5;
  cursor: pointer;
  font-size: 14px;
}

/* DASHBOARD CONTAINER */
.container {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

/* FORM */
textarea {
  width: 100%;
  height: 70px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

button {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* TODO ITEM */
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 10px 14px;
  margin-top: 8px;
  border-radius: 8px;
}

.todo small {
  color: gray;
}

/* DONE */
.done {
  text-decoration: line-through;
  color: gray;
  margin-top: 6px;
}

/* DELETE ALL */
.delete-all {
  background: #ef4444;
  color: white;
  width: 100%;
  margin-top: 15px;
}
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  background: white;
  width: 400px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.modal-card textarea {
  width: 100%;
  height: 80px;
  margin: 10px 0;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.profile-card {
  max-width: 400px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.avatar {
  width: 80px;
  height: 80px;
  background: #4f46e5;
  color: white;
  font-size: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
